@media screen and (max-width: 375px) {
  .singleInformation {
    block-size: 100%;
    position: relative;
  }
  .singleInformation h1 {
    font-family: "Barlow Condensed";
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 19px;
    letter-spacing: 2.7px;
    block-size: 10%;

  }

  .singleInformation h1 > span {
    color: #ffffff;
    opacity: 0.25;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    display: inline-block;
  }

  .singleInformation img {
    block-size: 150px;
    inline-size: 150px;
    position: absolute;
    inset-block-start: 10%;
    inset-inline-end: 28%;
  }

  .singleInformation ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: #d0d6f9;
    font-family: "Barlow Condensed";
    text-transform: uppercase;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: 2.36px;
    padding-block-end: 16px;
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-start: 42%;
  }

 

  .singleInformation section {
    block-size: 30%;
    position: relative;   
    inset-block-start: 50%;
    position: absolute;
    inset-block-start: 49%;
    inset-block-end: 0;
  }

  .singleInformation li {
    position: relative;
    cursor: pointer;
    block-size: fit-content;
  }

  .singleInformation li:hover::before {
    position: absolute;
    content: "";
    background-color: white;
    block-size: 3px;
    inline-size: 100%;
    inset-block-end: -8px;
  }

  .singleInformation h2 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;
    margin-inline: 0;
    margin-block: 0;
  }

  .singleInformation p {
    text-align: center;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #d0d6f9;
    block-size: 50%;
  }

  .singleInformation hr {
    border: 1px solid #383b4b;
  }

  .singleInformation div {
    block-size: 20%;
    padding-block-end: 8px;
    font-family: "Bellefair";
  }

  .singleInformation span {
    display: block;
  }
  .distance {
    padding-block-start: 6px;
  }

  .singleInformation div > span + span {
    font-size: 28px;
  }
}
