@media screen and (max-width: 375px) {
  .tech {
    block-size: 90%;

    position: relative;
    color: white;
    text-align: center;
    padding-inline: 16px;
  }

  .tech h1 {
    font-family: "Barlow Condensed";
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 19px;
    letter-spacing: 2.7px;
    block-size: 10%;
  }

  .tech h1 > span {
    color: #ffffff;
    opacity: 0.25;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    display: inline-block;
  }

  .tech img {
    block-size: 222px;
    inline-size: 100%;
    position: absolute;
    inset-block-start: 8%;
    inset-inline-end: 0%;
    inset-inline-start:0% ;
  }

  .tech hr {
    position: relative;
    inset-block-start: 37%;
    border: 0.5px solid hsl(228, 3%, 36%);
  }

  .tech ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: #d0d6f9;
    font-family: "Barlow Condensed";
    text-transform: uppercase;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: 2.36px;
    padding-block-end: 16px;
    position: absolute;
    inset-inline-start: 30%;
    inset-inline-end: 30%;
    inset-block-start: 49%;
  }

 

  .tech button {
    position: relative;
    block-size: 32px;
    inline-size: 33px;
    border-radius: 50%;
    background-color: white;
    border: none;
    padding-block-end: 4px;
    
  
  }

   .tech section {
    block-size: 44%;
    position: absolute;
    inset-block-start: 56%;
    inset-block-end: 0;
    padding-inline-end: 16px;
  }

  .tech section h2 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-block: 8px;
  }

  .tech section h3 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    padding-block-end: 16px;
  }

  .tech section p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #d0d6f9;
  }
}
