@media screen and (max-width: 375px) {
  .singleCrew {
    block-size: 90%;

    position: relative;
    color: white;
    text-align: center;
    padding-inline: 16px;
  }

  .singleCrew h1 {
    font-family: "Barlow Condensed";
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 19px;
    letter-spacing: 2.7px;
    block-size: 10%;
  }

  .singleCrew h1 > span {
    color: #ffffff;
    opacity: 0.25;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    display: inline-block;
  }

  .singleCrew img {
    block-size: 222px;
    inline-size: 177px;
    position: absolute;
    inset-block-start: 8%;
    inset-inline-end: 24%;
  }

  .singleCrew hr {
    position: relative;
    inset-block-start: 37%;
    border: 0.5px solid hsl(228, 3%, 36%);
  }

  .singleCrew ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: #d0d6f9;
    font-family: "Barlow Condensed";
    text-transform: uppercase;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: 2.36px;
    padding-block-end: 16px;
    position: absolute;
    inset-inline-start: 30%;
    inset-inline-end: 30%;
    inset-block-start: 49%;
  }

  .singleCrew button {
    position: relative;
    block-size: 10px;
    inline-size: 10px;
    border-radius: 50%;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.17;
  }

  .active{
    background-color: white;
    opacity: 1;
  }
  .desactive{
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.17;
  }

 

  .singleCrew section {
    block-size: 44%;
    position: absolute;
    inset-block-start: 56%;
    inset-block-end: 0;
    padding-inline-end: 16px;
  }

  .singleCrew section h2 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-block-end: 8px;
  }

  .singleCrew section h3 {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    padding-block-end: 16px;
  }

  .singleCrew section p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    text-align: center;

    color: #d0d6f9;
  }
}
